@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


#size-test > li:nth-child(1) { font-size: 24px;}
#size-test > li:nth-child(2) { font-size: 18pt;}
#size-test > li:nth-child(3) { font-size: 150%;}
#size-test > li:nth-child(4) { font-size: 1.5em;}

/* 크롬브라우저 기준
    기본 글꼴 크기 : 16px
*/

/* font-weight */
#weight-test > li {
    font-size: 34px;
}

#weight-test > li:nth-child(1) { font-weight: 600;}
#weight-test > li:nth-child(2) { font-weight: bold;}
#weight-test > li:nth-child(3) { font-weight: bolder;}
#weight-test > li:nth-child(4) { font-weight: lighter;}
#weight-test > li:nth-child(5) {
    font-weight: normal;
    font-style: italic;
}

/* font-family */

.cls > li {
    font-size: 24px;
}

#family-test1 > li:nth-child(1) {
    font-family: '궁서';
}


#family-test1 > li:nth-child(2) {
    font-family: '배달의민족체';
    /* 없는 폰트인 경우 기본폰트로 설정 */
}

#family-test1 > li:nth-child(3) {
    font-family: '배달의민족체', '굴림체';
}

/* 웹폰트 */
/* 1. link 태그를 이용한 방법 */

#family-test2 > li:nth-child(1) {
    font-family: 'Single Day', cursive;
}

/* 2. @import는 css 파일 제일 상단에 작성 */
#family-test2 > li:nth-child(2) {
    font-family: 'Black Han Sans', sans-serif;
}


/* 3. @font-face 이용 */
@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#family-test2 > li:nth-child(3) {
    font-family: 'KyoboHandwriting2021sjy';
}

/* 글꼴 전체 적용(우선순위에따라 안바뀌는것도있음)
* {
    font-family: 'KyoboHandwriting2021sjy';
}
*/