div {
    border: 1px solid black;
    box-sizing: border-box;
}

.container-1 {
    border: 2px dashed red;

    position: relative;
}

.first {
    width: 300px;
    height: 300px;
    background-color: yellow;
}

.second {
    width: 200px;
    height: 200px;
    background-color: green;

    position: absolute;

    top: 50px;
    left: 50px;
}

.third {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;

    top: 100px;
    left: 100px;
}

/* 정가운데 배치하기 */
.container-2 {
    width: 300px;
    height: 300px;
    position: relative;
    /* 내부에 들어올 요소의
    상대위치 지정 */
}

#center {
    width: 50px;
    height: 50px;
    background-color: pink;

    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fixed {
    width: 120px;

    /* 텍스트 가운데 정렬 */
    text-align: center;

    position: fixed;
    /* fixed 요소는 화면(뷰포트, 브라우저) 기준으로 배치됨
        + 다른 요소와 겹칠 수 있고,
        별도로 화면을 차지하려고 하지 않음.
    */

    bottom: 50px;
    right: 50px;
}