/* ~= : 여러 속성 값 중 하나라도 일치하면 선택 */
div[name~="aaa"] {
    background-color: greenyellow;
}

/* |= : "-" 기호 앞쪽 단어가 일치하는 요소 선택 */
div[class |= "str"] {
    color: red;
    font-weight: bold;
}

/* ^= : 특정 값으로 시작하는 요소 선택 */
div[class ^= "class"] {
    background-color: black;
    color: white;
}

/* $= : 특정 값으로 끝나는 요소 선택 */
div[class $= "class2"] {
    font-size: 24px;
}

/* *= : 특정 값을 포함하는 요소 선택 */
div[name *= "2"] {
    border: 3px solid red;
}