/* 5순위 : 태그 선택자 */
div {
    width: 200px;
    height: 200px;
    background-color: red !important;
}

/* 4순위 : 클래스 선택자 */
.cls1 {
    background-color: green;
    /* 배경색이 green 으로 변경되지만,
    겹치지 않는 width/height는 그대로 반영
    */
}

.cls1 {
    background-color: yellow;
    /*
    동일한 우선순위에선
    마지막에 작성된 설정값이 적용된다.
    */
}

/* 3순위 : 아이디 선택자 */
#test1 {
    height: 100px;
    background-color: black;
    color: white;
}

