.bg-1 {background-color: red;}
.bg-2 {background-color: orange;}
.bg-3 {background-color: yellow;}
.bg-4 {background-color: green;}
.bg-5 {background-color: blue;}
.bg-6 {background-color: indigo;}
.bg-7 {background-color: violet;}


.row {
    height: 50%;
}

.container {
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

.div-1 {
    width: 50%;
    height: 100%;
    float: left;
}